body 
.wrap {
        max-width: 1024px;
        margin: 20px auto;
        background-color: #FFFFFF;


}
#header{
    position: relative;
}
.cv-section { 
    padding: 10px 0;
    position: relative;
}

.span2{
	width: 700px;
	float: left;
	background-color: #FFFFFF;

}
.span1{
	width: 304px;
    margin-left: 20px;
    float:left;
    background-color: #FFFFFF;
}

.cv-section-title img {
	max-width: 150px;
	max-height: 300px;
	float: right;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #dadada;
}
.cv-section-title h1 {
    margin-left:100px;

}


.cv-section-title h5 {
     margin-left:100px;

}




#footer {
    padding-top: 0;
}
